*.prg
*.prg.debug.xml
*.iq
.DS_Store
resources/.DS_Store
releases
AboutTime-settings.json
config.js
node_modules
package-lock.json
AboutTime.code-workspace
internal-mir
mir
reports-*.json
gen
external-mir
